/* font-face rules */
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/static/WorkSans-Bold.woff2') format('woff2');
    font-weight: 700;
}


/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS */
@layer components {
    * {
        @apply font-work-sans;
    }

    .question-answer:not(:last-child) {
        @apply border-b border-light-pink pb-6 mb-6;
    }

    .question-wrapper {
        @apply flex justify-between items-center gap-3;
    }

    .question {
        @apply text-dark-purple font-bold;
    }

    .answer {
        @apply text-grayish-purple text-sm pt-0 h-0 overflow-y-hidden;
    }

    .answer.open {
        @apply pt-6 h-auto transition ease-in-out delay-300;
    }
}